.user-class-header {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 12px;
  margin-left: 30px;
  margin-bottom: 0px;
}

.user-class-container {
  border-bottom: 1px solid rgba(127, 133, 146, 0.44);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
