.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafbfb;
  align-items: center;
  width: 100vw;
  height: 4.5em;
  z-index: 5;
}
.nav-logo {
  display: flex;
  height: 45px;
  width: 143px;
}
.logo-img {
  scale: 1;
}
.logo-container {
  padding-left: 4%;
}
.nav-links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.login-container,
.signup-container {
  box-sizing: border-box;
  width: 165px;
}

.login-button {
  font-family: "Open Sans", sans-serif;
  background-color: #fafbfb;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  width: 100%;
  height: 100%;
}
.signup-button {
  font-family: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #ff8243;
  color: #ffffff;
  border: none;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  font-weight: 500;
}
.login-button:hover {
  font-size: calc(12.5px + 2 * ((100vw - 320px) / 1600));
  background-color: #eff2f2;
}
.signup-button:hover {
  font-size: calc(12.5px + 2 * ((100vw - 320px) / 1600));
}
