.class-modal-button {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 18px;
  margin-top: 10px;
  margin-right: 10px;
}

.class-button {
  font-size: 30px;
}
