/* TODO Add site wide styles */

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
* {
  font-family: "Proxima Nova", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

.disabled {
  background-color: #cecece;
  cursor: not-allowed;
}

.round-button {
  color: #ffffff;
  cursor: pointer;
  border-radius: 42px;
  border: none;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.12em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}

.text-input {
  background-color: transparent;
  color: #197096;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-bottom: 4px solid #eee;
  border-radius: 0;
  height: 36px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 10;
}

.text-input:focus {
  border-bottom: 4px solid #197096;
  outline: none;
}
.modal-warning-actions {
  display: flex;
  gap: 15px;
}
.cancel-button {
  align-items: center;
  border: none;
  border-radius: 42px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  height: 48px;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 0.12em;
  outline-style: none;
  padding: 0 25.2px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  background-color: #29a5dc;
}
.input-container {
  display: flex;
  position: relative;
  flex: 1 1 0%;
  height: 36px;
  width: 100%;
  margin-bottom: 18px;
}

label {
  color: #aaa;
  font-size: 16px;
  font-weight: 300;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 8px;
  transition: 0.2s ease all;
}
input:focus ~ label,
input:valid ~ label {
  top: -12px;
  font-size: 12px;
}
input:not(:placeholder-shown) ~ label {
  top: -12px;
  font-size: 12px;
}

button:disabled {
  cursor: not-allowed !important;
  background-color: #cecece;
}
