.signup-form {
  padding-top: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.signup-modal-button {
  border-radius: 33px;
  margin: 0 auto;
  max-width: 186px;
  padding: 0;
  width: 100%;
  background-color: #ff8243;
  color: white;
  box-sizing: border-box;
  border: none;
  font-size: 12px;
  height: 48px;
  margin-bottom: 15px;
}
