.carousel-item {
  background-image: url("https://www.brainscape.com/assets/cms/public-views/pages/landing/band-1/image-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;
  min-width: 100%;
}

.carousel-overlay {
  background: linear-gradient(10deg, #19202a, transparent);
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.main-splash-container {
  position: relative;
  overflow-y: hidden;
  max-height: 100vh;
}

.splash-details {
  position: absolute;
  bottom: 20%;
  z-index: 2;
  margin-right: 4%;
  margin-left: 4%;
  white-space: pre-line !important;
}

.splash-header {
  display: flex;
  color: #ffffff;
  font-family: "Mont Bold", Mont, sans-serif !important;
  font-weight: 700 !important;
  margin: 0;
  line-height: 1;
  font-size: calc(66px + 84 * ((100vw - 320px) / 1600));
  margin-bottom: 4rem;
  white-space: pre-line !important;
}
.splash-subheader {
  font-family: "Open Sans", sans-serif !important;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 4rem;
  line-height: 0;
  font-size: calc(21px + 12 * ((100vw - 320px) / 1600));
}

.splash-subheader > b {
  font-weight: 600;
}
