.deck-card-container {
  align-items: center;
  border-bottom: 1px solid #dddddd;
  display: flex;
  list-style: none;
  margin: 0;
  position: relative;
  width: 100%;
}

.deck-card-container:hover {
  background-color: #eef7ff;
  cursor: pointer;
}

.deck-card-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 30px 24px 42px;
}

.deck-card-name {
  color: #197096;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  font-weight: 600;
  margin: 0 18px 0 0;
}
.deck-card-container:hover .deck-card-name {
  color: #29a5dc;
}

.deck-card-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.deck-delete-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  position: absolute;
  right: 30px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  color: #7d93a4;
  margin-right: 11px;
}

.deck-delete-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #29a5dc;
}

.deck-mastery {
  color: #29a5dc;
  width: 54px;
  margin: 0 24px 0 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 100%;
}

.mastery-bar-outer {
  background-color: rgba(125, 147, 164, 0.15);
  border-radius: 15px;
  height: 10px;
  width: 30vw;
}

.mastery-bar-inner {
  height: 10px;
  border-radius: 15px;
  background-color: #29a5dc;
}
