.class-edit-input {
  border: 1px solid rgba(25, 112, 150, 0.3);
  border-radius: 6px;
  color: #545454;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 12px 18px;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  padding: 0 6px;
}

.class-edit-errors {
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.class-edit-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: -6px 0 -6px -8px;
}

.class-edit-actions {
  align-items: center;
  display: flex;
  height: 48px;
  position: absolute;
  right: 0;
  top: 0;
}

.class-edit-form-container {
  position: relative;
  width: 100%;
}

.class-edit-cancel {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #7d93a4;
  cursor: pointer;
  display: flex;
  font-size: 36px;
  height: 36px;
  justify-content: center;
  position: relative;
  width: 36px;
}

.class-edit-cancel:hover {
  color: #29a5dc;
}

.class-edit-cancel-icon {
  font-size: 12px;
}

.class-edit-save {
  background-color: #29a5dc;
  font-size: 12px;
  height: 24px;
  margin: 0 9px 0 0;
  padding: 0 12px;
}
