.class-card-icon {
  height: 40px;
  width: 40px;
}

.class-card-container {
  display: flex;
  box-sizing: border-box;
  /* Need to handle this dynamically */
  border-left: 8px solid #fff;
  height: 72px;
  cursor: pointer;
  margin: 0;
  padding: 15px 0px 15px 40px;
}

.class-card-name {
  margin: 0;
  padding-left: 15px;
}
